body {
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  color: #fff;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.transition-0_3 {
  transition: all 0.3s ease;
}

.transform:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  transform: scale(1.04);
}

.transform-border {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.transform-border:hover {
  border-bottom: 2px solid #d4a373;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
}

.header-inner {
  height: 80px;
}

header a {
  color: #e5e5e5;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.row-align-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.row-justify-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.column-align-left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.logo:hover {
  transform: scale(1.2);
}

.pagination {
  width: 244px;
  margin-right: 17px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
}

.socials {
  width: 172px;
  margin-left: 17px;
  margin-right: 17px;
}

.socials-wrapper {
  border-left: 0.5px solid rgba(229, 229, 229, 0.5);
  border-right: 0.5px solid rgba(229, 229, 229, 0.5);
}

.search {
  margin-left: 17px;
}

.navigation a:hover {
  color: #fff;
  border-bottom: 2px solid #d4a373;
}

.introduction {
  position: sticky;
  top: 0px;
  z-index: -1;
  min-height: 600px;
  background: url("../img/Image.svg") no-repeat center center / cover;
  padding-top: 278px;
}

.slogan {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  display: inline-flex;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.05em;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 15px 0;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.introduction-desc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #e5e5e5;
}

.introduction-desc-line {
  width: 30px;
  border-bottom: 1px solid #e5e5e5;
  margin: 8px 10px;
}

.topics {
  padding-top: 150px;
  padding-bottom: 100px;
  color: #495057;
  background: #f8f9fa;
}

.topics a {
  color: #495057;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.topics-categories {
  margin: 30px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
}

.topics-category:hover {
  color: #d4a373;
}

.topics-categories-left {
  width: 377px;
}

.topic,
.pick {
  position: relative;
}

.topic {
  width: 310px;
  height: 565px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 50px;
}

.topic img,
.pick img {
  border-radius: 8px;
}

.topic-category,
.topic-category-secondary {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  text-transform: uppercase;
  display: inline-flex;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.topic-category-secondary-1 {
  right: 92px;
}

.topic-category-secondary-2 {
  right: 107px;
}

.topic-description {
  padding: 20px;
}

.topic-description time {
  color: #6c757d;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
  display: block;
}

.topic-description h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 15px;
  max-height: 100px;
}

.topic-description-text {
  color: #6c757d;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #e5e5e5;
  max-height: 120px;
}

.topic-author {
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
  max-height: 100px;
}

.topic-author img {
  margin-right: 17px;
}

.topic-author span {
  display: block;
  font-weight: bold;
}

.big-post {
  position: sticky;
  top: 0px;
  z-index: -1;
  min-height: 600px;
  background: url("../img/Image2.svg") no-repeat center center / cover;
  padding: 178px 0;
}

.big-post-slogan {
  margin-bottom: 24px;
}

.big-post h2 {
  width: 530px;
  height: 92px;
  text-align: center;
  margin-bottom: 12px;
}

.big-post-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #e5e5e5;
  height: 94px;
}

.big-post-description-text {
  width: 420px;
  text-align: center;
}

.big-post-description-line {
  width: 30px;
  border-bottom: 1px solid #e5e5e5;
  margin: 8px 10px;
}

.editors-pick {
  background: #f8f9fa;
  padding-top: 150px;
  padding-bottom: 100px;
}

.editors-pick h2 {
  color: #495057;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 70px;
}

.pick-description {
  position: absolute;
  bottom: 42px;
  left: 40px;
}

.pick-description time {
  color: #e5e5e5;
  font-size: 12px;
  font-weight: 400;
  display: block;
}

.pick-description h3 {
  width: 270px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin: 15px 0;
  max-height: 100px;
}

.pick-description p {
  width: 340px;
  color: #e5e5e5;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  max-height: 120px;
}

.pick {
  max-height: 350px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.big-footer {
  min-height: 400px;
  background: #212529;
  padding-top: 106px;
}

.big-footer h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  padding-bottom: 16px;
}

.contacts a,
.explorate li,
.headquarter address {
  color: #e5e5e5;
  font-size: 12px;
  font-weight: 400;
}

.contacts li,
.explorate li {
  margin-bottom: 16px;
}

address {
  font-style: normal;
  line-height: 20px;
}

/* .connections .socials a:hover {
  border-bottom: 2px solid #d4a373;
} */

.connections .socials {
  margin: 0px;
  align-items: flex-start;
}

.small-footer {
  color: #e5e5e5;
  font-size: 14px;
  background: #343a40;
}

.small-footer .container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallFooter p:first-child {
  font-weight: 700;
}
